.mainContainer{
    position: fixed;
    top: 100px;
    z-index: 7;
    height: auto;
    font-size: 10px;
    display: flex;
    align-items: center;
}

.buildsContainer{
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    width: 94px;
    padding: 8px 5px;
    display: flex;
    flex-direction: column;
}

.imgCenter{
    margin: 0 auto;
}

.aSize{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.aContainer{
    width: 100%;
    height: 100%;
    display: flex;
}
hr{
    border-width: 0;
    border-top: 1px solid #E1E1E1;
    margin-top: 12px;
    margin-bottom: 5px;
}
.textDesing{
    text-align: center !important;
    text-transform: uppercase !important;
    font-family: "Open Sans", sans-serif !important;
    font: inherit;
    white-space: pre-wrap;
    font-size: 10px !important;
    line-height: 1;
}
.containBar{
    width: 60px;
    height: 7px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
}
.barra{
    width: 100%;
    height: 7px;
}
.divisor{
    height: 10px;
    width: 1px;
    position: absolute;
    background-color: black;
    top: -2px;
}
.containerInteractuable{
    background-color: #212121;
    height: 50%;
    width: 15px;
    cursor: pointer;
}
.styleP{
    color: white;
    font-size: 10px;
    transform: rotateZ(90deg);
    text-transform: uppercase;
    width: 97px;
    position: absolute;
    left: -41px;
    font-family: "Open Sans", sans-serif;
    top: 50%;
}
.triangle1{
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 15px solid #212121;
}
.triangle2{
    width: 0;
    height: 0;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #212121;
}
.interactuable{
    display: flex;
    flex-direction: column;
    height: 505px;
    position: relative;
    width: 15px;
}