@font-face {
    font-family: 'Michroma';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/michroma/v11/PN_zRfy9qWD8fEagAPg9pTk.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
$gray: #686868;
$black: #212121;
.cardContainer{
    display: flex;
}
.sinMargen{
    height: 286px;
    border-top: 1px solid $black;
    border-bottom: 3px solid $black;
    position: relative;
    background-color: #ffffff;
    width: 30.6666666667%;
    margin-right: 0;
}
.Margen{
    height: 286px;
    border-top: 1px solid $black;
    border-bottom: 3px solid $black;
    position: relative;
    background-color: #ffffff;
    width: 30.6666666667%;
    margin-right: 0;
    margin-left: 4%;
}
.styleA{
    color: $black;
    text-decoration: none;
    font-size: 17px;
    line-height: 19px;
    font-family: "Michroma", "Open Sans", Helvetica, sans-serif;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}
.styleA:hover{
    color: $black;
}
.infoContainer{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.imageContainer{
    position: relative;
}
.imageSize{
    max-width: 100%;
    border: none;
}
.sizeText{
    font-size: 14px;
    font-family: "Open Sans", sans-serif !important;
    line-height: 1;
    color: $gray;
    color: #686868;
}
.sizeTextP{
    font-size: 14px;
    font-family: "Open Sans", sans-serif !important;
    line-height: 1;
    padding-right: 40px;
    color: $gray;
}
.readStyle{
    color: $black;
    text-decoration: none;
    position: absolute;
    font-family: "Open Sans", sans-serif !important;
    right: 18px;
    bottom: 6px;
    font-size: 14px;
}
.readStyle:hover{
    color: $black;
}
.cardContainer{
    display: flex;
    padding: 0 0 50px 0;
    border-bottom: 1px solid #a0a0a0;
    margin-bottom: 40px;
}