* {
    margin: 0;
    padding: 0;
    font: inherit; 
    vertical-align: baseline;
    box-sizing: border-box;
}
body{
    background-color: #ececec;
}
.container_content{
    margin-top: 45px;
}
.contaninerSize{
    max-width: 1140px;
    position: relative;
    margin: 0 auto !important;
    box-sizing: border-box;
    height: 100%;
}
.row{
    --bs-gutter-x: 0 !important;
}

.aStore{
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    padding-top: 5px;
}
.main_Container{
    margin-top: 38px;
}
.containerNav{
    position: relative;
}